body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    background-color: black;
}

p {
    color: red;
} 

button {
    background: black;
    color: greenyellow;
    border: 2px dashed greenyellow;
    padding: 5px;
    font-family: 'Courier New';
}

input{
    background: greenyellow;
    padding: 10px;
    font-family: 'Courier New';
    font-weight: bold;
    text-align: center;
}

div{
    background: white;
    width: 230px;
    padding: 20px;
    margin: 0 auto;
}
